body {
    font-family: 'helvetica', sans-serif;
}

@font-face {
    font-family: 'helvetica';
    src: url("../public/assets/font/Helvetica.ttf");
    font-weight: 400;
}

@font-face {
    font-family: 'helvetica';
    src: url("../public//assets/font/HelveticaBold.ttf");
    font-weight: 700;
}

.vertical-text {
    writing-mode: tb-rl;
    transform: rotate(-180deg);
}

::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

::-webkit-scrollbar-thumb {
    background: #00A8E8;
    border-radius: 10px;
}


::-webkit-scrollbar-thumb:hover {
    background: #00A8E8;
}

.swiper-pagination-bullet-active{
    background: #00A8E8 !important;
}

@media(min-width:1180px) and (max-width:1279.99px) {
    .dots {
        max-width: 112px;
        right: -30px;
        top: -30px;
    }
}

